<footer class="uk-section">

    <div class="uk-text-center">
        <hr class="uk-divider-small">
        <div class="">
            <a href="https://github.com/daquiroz" target="_blank"><span uk-icon="icon: github; ratio: 1"></span></a>
            <a href="https://www.instagram.com/daniquirozo/" target="_blank"><span uk-icon="icon: instagram; ratio: 1"></span></a>
            <a href="https://twitter.com/DaniAQO" target="_blank"><span uk-icon="icon: twitter; ratio: 1"></span></a>
            <a href="https://www.linkedin.com/in/daquiroz/" target="_blank"><span uk-icon="icon: linkedin; ratio: 1"></span></a>
        </div>
        <p class="uk-text-small"> 2021 Daniela Quiroz Olguín.</p>
    </div>

</footer>
