.uk-logo{
  font-family: $title-font-family;
  font-weight: 500;
  font-size: 1.5rem;
}

.title-about-me{
  font-size: 2.5rem;
  font-family: $title-font-family;
  font-weight: 500;
}

.link-mail{
  font-size: 1.3rem;
  font-family: $title-font-family;
  font-weight: 400;
}